.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: var(--tailleFontNav)
}

.block-nav-active {
    display: var(--menuVisible);
    flex-direction: var(--directionMenu);
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 4em;
    background: linear-gradient(rgb(65, 105, 225) 40%, var(--color-background));
}

.block-nav-active-telephone {
    font-size: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(65, 105, 225, 0.9);
}

.block-nav-active-telephone a {
    padding: 1em;
}